---
import { base } from "astro:config/client";
---
<div class="nav-links">
    <a href=`${base}/`>Home</a>
    <a href=`${base}/about/`>About</a>
    <a href=`${base}/blog/`>Blog</a>
    <a href=`${base}/tags/`>Tags</a>
</div>